* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* .value, .label {
color: violet;

} */

/* .field {
  border: 2px solid;
  border-color: tomato;
  font-size: 24px;
margin-bottom: 10px;
} */

.timer {
  display: flex;
  font-size: 24px;
  margin-top: 10px;
}
.value {
  padding: 0px 5px;
  margin-right: 10px;
  border: 2px solid;
  border-radius: 6px;
  border-color: red;
}

.label {
  margin-right: 10px;
  
}